<html>
  <head>
    <title>This is a Flask webserver for {{ purpose }}</title>
  </head>
  <body>
    <h1>This is a Flask webserver for {{ purpose }}</h1>
    <h2>Services currently available:</h2>
    {% for service in services %}
    <div><p>
      <a href="{{ rooturl }}{{ service.endpoint }}">{{ rooturl }}{{ service.endpoint }}</a>
      <b> {{ service.description }} </b>
    </p></div>
    {% endfor %}
    {% if mailtocontact %}
      <h4> To get more info, contact the <a href="mailto:{{ mailtocontact }}"> developer</a>.</h4>
    {% else %}
      <h4> There's nothing more here... </h4>
    {% endif %}
  </body>
</html>